{
    "presets": [
      ["@babel/preset-env", { "targets": { "node": true } }]
    ],
    "plugins": [
      ["@babel/plugin-proposal-decorators", { "legacy": true }],
      ["module-resolver", { "root": ["src"] }],
      "@babel/plugin-proposal-optional-chaining",
      [
        "@babel/plugin-transform-runtime"
      ]
    ]
  }
  